.bottom_container {
	/* border: red 1px solid; */
	height: 30vh;
	padding: 5rem;
	margin: 0;
}

.bottom_button {
	text-decoration: none;
	width: auto;
	max-width: 17rem;
	text-align: center;
	padding: 0.8rem 1.2rem;
	border-radius: 0.5rem;
	transition: all 0.1s ease-in;
	font-size: 1em;
	color: var(--gray);
	background-color: var(--button-color);
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-focus-ring-color: rgba(255, 0, 0, 0);
}

.bottom_button:hover {
	background-color: var(--yellow);
	color: var(--background-color);
}
